.bigtable{
    width: 1000px;
    height: 500px;
    box-shadow: 0px 0px 15px black;
    border-collapse: separate;
    border-spacing: 20px;
}
table{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: 5px black;
    border-collapse: collapse;
}
tr{
    border-bottom: 2px inset black;
    width: 100px;
    height: 210px;
    background-color: rgb(223, 223, 183);
}
body{
    background-color: rgb(145, 145, 145);
}
img{
    border-radius: 400px;
    width: 240px;
    height: 280px;   
}
a{   
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 12px;
    background-color: rgb(0, 255, 255);
    border: 3px solid black;
    display: inline-block;  
}
a:hover{
    color: rgb(17, 0, 255); 
    margin: auto;
    background-color: rgb(21, 255, 0);
    padding: 15px;      
}
.trold{
    height: 230px;
}
.shadow{
    box-shadow: 0px 0px 20px rgb(0, 132, 255);
}

