table{
    border: 7px solid rgb(0, 162, 255);
    background-color: rgb(208, 255, 0);
    width: 800px;
    height: 300px;
    margin:auto 
}
.head{
    background-color: rgb(6, 179, 0);
}
.leason{
    background-color: rgb(183, 0, 255) ;
}
img{
    border-radius: 1000px;
    width: 100px;
    height: 100px;
}
